@import url('http://timschlechter.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css');

.input-group .bootstrap-tagsinput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    margin-bottom: 1px;
}

.list-group{
    max-height: 800px;
    overflow-y:auto; 
}