<!DOCTYPE html>
<html lang="en" ng-app="outgoesApp">
	<head>
		<title>OutgoesApp</title>
		<meta charset="utf-8">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	    <script src="bower_components/Chart.js/Chart.min.js"></script>
		<script src="bower_components/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script>

	</head>
	<body >
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">OutgoesApp</a>
				</div>
				<div class="nav navbar-nav navbar-right">
					<li><a href="/#" data-toggle="modal" data-target="#newOutgo">New Outgo</a></li>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6" ng-controller="LeftController as left">
					<ul class="list-group">
						<span ng-repeat="outgo in left.outgoes | reverse">
							<a href="/#" data-toggle="modal" ng-click="left.selectOutgo(outgo.uri)" data-target="#updateOutgo" data-uotgotomodif="{{outgo.uri}}" class="list-group-item">
								<p>{{outgo.description}}  <em class="pull-right"><span class="badge">{{outgo.cost | currency}}</span></em></p>
								<span ng-repeat="label in outgo.tags"><span class="label label-info">{{label}}</span> </span>
								<em class="pull-right">{{outgo.date}}</em>
							</a>
						</span>

					</ul>
				</div>







				<div class="modal fade" id="newOutgo" tabindex="-1" role="dialog" aria-labelledby="newOutgo" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="newOutgo">New Outgo</h4>
							</div>
							<div class="modal-body">
								<form>
									<label for="outgo-cost" class="control-label">Cost: </label>
									<div class="input-group">
										<span class="input-group-addon">$</span>
										<input type="text" class="form-control" id="outgo-cost" aria-label="Amount (to the nearest dollar)">
										<span class="input-group-addon">.00</span>
									</div>
									<br>
									<div class="form-group">
										<label for="outgo-description" class="control-label">Description:</label>
										<textarea class="form-control" id="outgo-description"></textarea>
									</div>
									<div class="form-group">
										<label for="outgo-tags" class="control-label">Tags: </label>
										<input type="text" class="form-control" id="outgo-tags" value="Amsterdam,Washington" data-role="tagsinput">
									</div>
									<div class="form-group">
										<label for="outgo-date" class="control-label">DateTime: </label>
										<div class="input-group date form_datetime"  data-date-format="dd MM yyyy - HH:ii p" data-link-field="outgo-date">
											<input class="form-control" size="16" type="text" value="" readonly>
											<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
										</div>
										<input type="hidden" id="outgo-date" value="" /><br/>
									</div>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Create</button>
							</div>
						</div>
					</div>


				</div>




				<div class="col-md-6" ng-controller="RightController as right">
					COLUMNA 2
					<!-- <canvas tc-chartjs-line chart-options="options" chart-data="data" auto-legend></canvas> -->
				</div>

				<div class="modal fade" id="updateOutgo" ng-controller="UpdateOutgoController as updateCtrl" tabindex="-1" role="dialog" aria-labelledby="updateOutgo" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="updateOutgo">New Outgo</h4>
							</div>
							<div class="modal-body">
								<form>
									<label for="outgo-cost" class="control-label">Cost: </label>
									<div class="input-group">
										<span class="input-group-addon">$</span>
										<input type="text" class="form-control" id="outgo-cost-modif"  ng-model="updateCtrl.selectedOutgo.cost" aria-label="Amount (to the nearest dollar)">
										<span class="input-group-addon">.00</span>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Update</button>
							</div>
						</div>
					</div>
			</div>




		</div>

		<script type="text/javascript" src="outgoesApp.js"></script>
		<script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
		<script type="text/javascript">
		$('.form_datetime').datetimepicker({
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});
		</script>
	</body>
</html>
